.gnb-header {
	@include flexbox(between);
	position: relative;
	z-index: 100;
	.logo {
		width: 8.53333vw;
		height: 18vw;
		img {
			@include img-style(contain);
		}
	}
	.header-icon {
		@include flexbox(start);
		gap: 10px;
		button {
			color: #fff;
			font-size: 3.73333vw;
			line-height: 1.25em;
			color: rgb(170, 170, 170);
		}
	}

	@include responsive(T) {
		display: block;
		.header-top {
			@include flexbox(end);
			@include text-style(14);
			height: 39px;
			color: gray;
			border-bottom: 1px solid rgb(57, 57, 57);
			cursor: pointer;

			p {
				&:first-child::after {
					content: "|";
					margin: 0 9px;
				}
			}
		}
		.header-bottom {
			height: 84px;
			@include flexbox(between);

			.header-bottom-list {
				.header-bottom-nav {
					@include flexbox(start);
					.header-bottom-logo {
						display: block;
						width: 86px;
						padding: 15px 20px;
						margin-left: -20px;

						img {
							display: block;
							width: 100%;
							height: 100%;
						}
					}
				}
			}

			&-item {
				@include flexbox(start);
			}
			&-items {
				padding: 15px 20px;
			}
		}
	}
}
