@use "sass:math";
$sm-columns: 4;

$gutter: 20px;
$sm-margin: 5px;

$md-columns: 12;
$md-unit: 75px;
$md-max-container: ($md-unit + $gutter) * $md-columns;

$grid-margin: 15px;

.container {
	width: 100%;
	padding: 0 $sm-margin;
	margin: 0 auto;

	.row {
		display: flex;
		flex-wrap: wrap;
	}

	// col-sm-1,clo-md-2,col-md-1  ^ 이걸붙히면 col- 뒤에붙는게 다온다
	[class^="col-"] {
		padding: 0 math.div($gutter, 2);
	}

	@for $i from 1 through $sm-columns {
		.col-sm-#{$i} {
			width: percentage(math.div($i, $sm-columns));
		}
	}

	@include responsive(T) {
		max-width: $md-max-container;
	}

	@for $i from 1 through $md-columns {
		.col-md-#{$i} {
			width: ($md-unit + $gutter) * $i;
		}
	}
}
