.Advertisement-container {
	.Advertisement-header {
		@include flexbox(between);
		@include padding-style;
		margin: 0 -10px;
		height: 18.1333vw;
		background-color: $primary;
		.header-img {
			width: 8.53333vw;
			height: 8vw;
			overflow: hidden;
			display: block;
			cursor: pointer;
			img {
				@include img-style;
			}
		}
		p {
			font-size: 5.33333vw;
			line-height: 1;
			padding-left: 20px;
		}
		.header-icon {
			@include flexbox(start, start);
			gap: 10px;
			svg {
				font-size: 25px;
				cursor: pointer;
			}
		}
	}
	.Advertisement-main {
		max-width: 450px;
		margin: 0 auto;
		h1 {
			display: none;
		}
		.form-wrapper {
			padding: 6vw 2.33333vw 1.06667vw;

			.form-group {
				padding: 1.06667vw 4.33333vw;
				background-color: #333;
				margin: 10px;
				border-radius: 8px;
				input {
					width: 100%;
					height: 10.8vw;
					color: #fff;
				}
				textarea {
					color: #fff;
				}
			}

			.form-label {
				padding: 1.06667vw 4.33333vw;
				@include flexbox(start, start);
				.form-checkbox {
					label {
						@include flexbox;
						input {
							width: 20px;
							height: 20px;
						}
						span {
							font-size: 3.2vw;
							margin-left: 5px;
							color: #666;
						}
					}
				}
				.form-checkbox:last-child {
					margin-left: 10px;
				}
			}
			.form-agree {
				@include flexbox(start, start);
				padding: 1.06667vw 4.33333vw;
				gap: 5px;
				margin-bottom: 10px;
				input {
					width: 20px;
					height: 20px;
				}
				span {
					font-size: 3.2vw;
				}
			}
			.form-button {
				padding: 4vw 4.33333vw;
				button {
					width: 100%;
					font-weight: bold;
					padding-left: 10px;
					padding-right: 10px;
					height: 12vw;
					font-size: 4.53333vw;
					background-color: rgb(238, 65, 53);
					color: rgb(255, 255, 255);
					border-radius: 8vw;
				}
			}
		}
	}
	@include responsive(T) {
		padding-bottom: 50px;
		.Advertisement-main {
			padding-top: 40px;
			.title {
				font-size: 24px;
				text-align: center;
				color: #666;
			}
			.form-wrapper {
				padding: 30px 20px 4px;
				.form-group {
					padding: 0px;
					padding-left: 15px;
					padding-right: 15px;
					input {
						height: 48px;
					}
				}
				.form-label {
					padding: 1.2vw;
					.form-checkbox {
						label {
							span {
								font-size: 14px;
							}
						}
					}
				}
				.form-agree {
					padding: 1.2vw;
					input {
						width: 20px;
						height: 20px;
					}
					span {
						font-size: 14px;
					}
				}
				.form-button {
					padding: 12px;
					margin-bottom: 20px;
					button {
						height: 54px;
						font-size: 18px;
						border-radius: 30px;
					}
				}
			}
		}
	}
}
