.banner-desk {
	margin-bottom: 60px;
	.Card {
		position: relative;
		width: 220px;
		img {
			display: block;
			width: 100%;
			height: 220px;
			object-fit: cover;
			&:hover {
				border: 5px solid $red;
			}
		}
		.Card-Slide {
			.Card-info {
				position: absolute;
				bottom: 10px;
				left: 10px;
			}
		}
	}
	.BannerContainer {
		display: flex;
		width: 100%;
		.FirstCard {
			position: relative;
			width: 660px;
			.Card-Slide {
				height: 440px;
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					&:hover {
						border: 5px solid $red;
					}
				}
				.Card-info {
					position: absolute;
					font-size: 20px;
					bottom: 10px;
					left: 10px;
				}
			}
		}
		.TwoGroupCard {
			display: flex;
			flex-wrap: wrap;
		}
	}
	.ThreeGroupCard {
		display: flex;
		overflow-x: hidden;
	}

	@include responsive(D) {
		.BannerContainer {
			.FirstCard {
				flex-grow: 0;
				width: 50vw;
				img {
					width: 100%;
					height: auto;
				}
			}
			.TwoGroupCard {
				width: 50vw;
				.Card {
					width: 21vw;
					flex-grow: 1;
					img {
						object-fit: cover;
					}
				}
			}
		}
		.ThreeGroupCard {
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.8) 0px,
				rgba(0, 0, 0, 0) 50%
			);
			.Card {
				width: 16.6vw;
			}
			.Card:last-child,
			.Card:nth-child(4) {
				overflow: hidden;
				width: 25vw;
			}
		}
	}
}
