.list-container {
	.recommend-FirstCard {
		position: relative;
		width: 100%;
		padding-bottom: 10px;
		img {
			@include img-style;
		}
		span {
			position: absolute;
			bottom: 15px;
			font-size: 3.2vw;
			padding: 0 10px 10px;
			font-weight: bold;
		}
	}
	.recommend-lists {
		@include flexbox(start);
		@include scrollbar;
		overflow-x: auto;
		.recommend-cards {
			position: relative;
			width: 37.3333vw;
			margin-right: 1.6vw;
			padding-bottom: 20px;

			img {
				@include img-style(cover, 37.3333vw);
			}
			.list-recommend-info {
				position: absolute;
				bottom: 15px;
				padding: 0 10px 10px;
				font-size: 3.2vw;
			}
		}
	}
	@include responsive(T) {
		.recommend-container {
			@include flexbox(start, start);
			gap: 6px;
			.recommend-FirstCard {
				width: 50vw;
				padding: 5px;
				img {
					@include img-style(cover, 100%);
					margin-top: 15vw;
				}
				span {
					@include text-style(18);
				}
			}

			.recommend-lists {
				@include flexbox(between);
				flex-wrap: wrap;
				overflow: hidden;

				a {
					.recommend-cards {
						@include truncate;
						width: 21.5vw;
						height: 20vw;
						margin-right: 0;
						padding-bottom: 0px;

						img {
							@include img-style;
						}
						.list-recommend-info {
							padding: 0 5px;
							bottom: 0px;
							span {
								@include text-style(18);
							}
						}
					}
				}
			}
		}
	}

	@include responsive(BigD) {
		.recommend-container {
			@include flexbox(start);
			gap: 16px;
			.recommend-FirstCard {
				width: 548px;
				height: 354px;
				flex-shrink: 0;
				padding: 0;

				img {
					@include img-style;
					margin-top: 0;
				}
			}
			.recommend-lists {
				@include flexbox(start);
				gap: 16px;
				a {
					.recommend-cards {
						@include text-style(18);
						width: 166px;
						height: 169px;
						img {
							@include img-style;
						}
					}
				}
			}
		}
	}
}
